<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNQb4Hhd72FMFWMwYkKiu5Sc2ioioYsjU</string>
	<key>GCM_SENDER_ID</key>
	<string>617487080888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.easternDragon</string>
	<key>PROJECT_ID</key>
	<string>eastern-dragon-app</string>
	<key>STORAGE_BUCKET</key>
	<string>eastern-dragon-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617487080888:ios:65dd9b7f0e68902ccc834d</string>
</dict>
</plist>